<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.e.hika.mapper.StudentMapper">

    <insert id="insertBatch">
        INSERT INTO student
            (id, name)
        VALUES
            <foreach collection="list" item="s" separator=",">
                (#{s.id}, #{s.name})
            </foreach>
    </insert>


</mapper>